{% extends "base.html" %}
{% block title %}Contents of {{ dir_path }}{% endblock title %}
{% block content %}
<ul>
{% for item in items %}
  {% set ext = item.name|lower|split(pat=".")|last %}
  {% if ext == "jpg" or ext == "jpeg" or ext == "png" %}
    <li>
      {% if compress_to_webp %}
        <a href="/static/{{ item.name|replace(from='.jpg', to='.webp')|replace(from='.jpeg', to='.webp')|replace(from='.png', to='.webp') }}">{{ item.name }}</a>
      {% else %}
        <a href="/static/{{ item.name }}">{{ item.name }}</a>
      {% endif %}
    </li>
  {% else %}
    <li><a href="{{ item.url }}">{{ item.name }}</a></li>
  {% endif %}
{% endfor %}
</ul>
{% endblock content %}